*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    width: 100%;
}
.item {
    display: inline-block;
    margin: 5%;
    width:40%;
}
.checkout{
    display: block;
    margin: 0 auto 100px;
    width: 190px;
    height: 80px;
    border-radius: 15px;
    background: cornflowerblue;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 26px 40px;
}
.quantity{
    margin: 10px 0;
    padding: 0 10px;
    height: 30px;
    border-radius: 5px;
}
.addToCart{
    float: right;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background: rgb(230, 40, 6);
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.cart{
    margin: 100px auto;
    text-align: center;
    width: 30%;
}
.cartItem{
    margin: 20px 0;
}
.clearCart{
    display: block;
    margin: 30px auto;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background: rgb(147, 168, 207);
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}